@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply rounded-lg bg-black text-white m-2 p-2;
    }
}

body {
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Playfair', serif;
    font-size: larger;
}

nav {
    background-color: gray;
}

.icon {
    margin: 10px;
    max-width: 150px;
    max-height: 150px;
    mix-blend-mode: multiply;
}

.image {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    max-height: 500px;
    mix-blend-mode: multiply;
}
.navBarLink {
    display: flex;
    margin: 20px;
}

.info {
    position: absolute;
    right: 0;
    margin: 20px; 
}